@import 'normalise';

// Import reusable variables and mixins
@import 'variables';
@import 'mixins';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

// Local version of https://fonts.googleapis.com/css?family=Roboto:400,500,700
// @font-face {
//   font-family: 'Roboto';
//   font-weight: 400;
//   // src: url(https://fonts.gstatic.com/s/roboto/v15/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
// 	src: url(../js/lib/google/fonts/Roboto400.woff) format('woff');
// }

body { 
	color: #000000; 
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
	background-color: $backgroundColor;

	.nav-container {
		background-color: $brandPink;

		.navbar-header {
			margin-left: 0.7em;
		}

		.navbar-toggle {
			border-color: transparent;
			float: left;

			&.collapsed {
				color: #000000;
  			border-color: transparent;

  			.top-bar {
    			transform: rotate(0);
			  }
			  .middle-bar {
			    opacity: 1;
			    transition: opacity .25s ease-in-out;
			  }
			  .bottom-bar {
			    transform: rotate(0);
			  }
  		}
			&:hover {
  			background-color: transparent;
  		}
  		&:focus {
  			background-color: transparent;
  		}
  		.icon-bar {
  			background-color: #000000;
  			width: 22px;
    		transition: all 0.2s;
  		}
  		.top-bar {
		    transform: rotate(45deg);
		    transform-origin: 10% 10%;
		  }
		  .middle-bar {
		    opacity: 0;
		    transition: opacity .25s ease-in-out;
		  }
		  .bottom-bar {
		    transform: rotate(-45deg);
		    transform-origin: 10% 90%;
		  }
		}

		// title text
		.navbar-brand {
			color: #ffffff;
			&:hover {
				color: #ffffff;
			}
		}

		// Forms
    .form-control {
      width: 100px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      clear: none;
    }

		h2 {
			font-family: 'Roboto', sans-serif;
			margin-left: 0.8em;
	    vertical-align: middle;
	    display: inline-block;
		}

		.navbar-menu-list {
			background-color: #ffffff;

			li > a {
				color: #000000;
				&:hover {
					color: $brandPink;
				}
				&:focus {
					color: $brandPink;
				}
			}
		}

    .navbar-menu-list h6 {
      font-family: 'Roboto', sans-serif;
    }
	}

	// Implement commonly used breakpoint for responsive styles
	@media all and (max-width: $screen-xs-max){ 

		.navbar-menu-list {
			li > a {
				border-bottom: 1px solid #eeeeee;
			}
		}
	}

	.componentEffects {
		@include componentDropshadow();
	}

	// Wrapper containing all book item components for display to user
  .contentWrapper {
    background-color: #dddddd;
    padding: 5px;
  }

	.success {
		color: green;
	}

	.error {
		color: red;
	}

 	.btn-default {
    background-color: #e6e6e6 !important;
  }

}
