@import 'variables';
@import 'mixins';

.bookWrapper {
	@include bookWrapper();
}

.book-child-item {
  background-color: $brandPink;
}

img {
  width: 100%; 
  height: 100%;
}

.delete {
  float: right;
  padding-right: 10px;
  padding-bottom: 10px;
}

.rating {
  margin-left: 10px;
  font-size: 2em;
  color: #dddddd;
}

.rating1 {
  color: red;
}

.rating2 {
  color: orange;
}

.rating3 {
  color: #ccaa33;
}

.rating4 {
  color: #dddd33;
}

.rating5 {
  color: green;
}

.rating-bar {
  margin-left: 15px;
  padding-left: 5px;
}

.bookFigCaptionDetails { @include figCaptionDetails(); }

.bookFigCaptionLinks { @include figCaptionLinks(); }

.bookLinksSpacer { @include linksSpacer(); }