@import 'variables';
@import 'mixins';

.bookWelcomeWrapper {
  @include bookWrapper();
}

.bookWelcomeDetails {
  @include figCaptionDetails();
  > h2 {
    color: $brandPink;
    font-size: 1.4em;
    padding-bottom: 10px;
  }
}

.bookWelcomeLinks {
  margin-left: 10px;
  @include figCaptionLinks();
}

.bookLinksSpacer { @include linksSpacer(); }