@import 'variables';
@import 'mixins';

.bookWrapper {
	@include bookWrapper();
}

.book-child-item {
  background-color: $brandPink;
}

img {
  width: 100%; 
  height: 100%;
}

.bookFigCaptionDetails { @include figCaptionDetails(); }

.bookFigCaptionLinks { @include figCaptionLinks(); }

.bookLinksSpacer { @include linksSpacer(); }