<div class="row bookWrapper componentEffects">

	<figure class="col-xs-3">
		<img class="book-child-item" src="images/{{ bookChildItem.shortname }}.jpg" alt="{{ bookChildItem.name }} Photo">
	</figure>

	<figcaption class="col-xs-9">
		<div class="row">
			<div class="bookFigCaptionDetails">
				<h3>{{ bookChildItem.name }}</h3>
				<h5>By {{ bookChildItem.author }}</h5>
			</div>
			<div class="bookFigCaptionLinks">
				<span class="firstLink"><a href="#">FREE SAMPLE</a></span>
				<span class="bookFigCaptionLinksSpacer"></span>
	      <span class="secondLink"><a href="#">REVIEW</a></span>
	    </div>
		</div>
	</figcaption>

</div>
